.driver-request-index {

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        border-radius: 0 0 15px 15px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: white;
        border-radius: 0 0 15px 15px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #111111;
        border-radius: 15px;
    }

    /* Handle on hover */
    .table-wrapper-container::-webkit-scrollbar-thumb:hover {
        background: #4b4b4b;
    }

    .drivernumber-requests-container {
        margin-top: 50px !important;
    }

    .drivernumber-requests-container, .team-transfer-requests-container {

        margin: 25px auto 0 auto;
        width: 80%;
        background-color: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;
        border-radius: 10px;

        .table-header {

            width: 100%;
            border-radius: 10px 10px 0 0;
            background-color: #0a8bc0;

            h1 {

                width: calc(100% - 50px);
                padding: 15px;
                font-size: 20pt;
                font-weight: bolder;
                text-align: center;
                color: white;

            }
        }

        .table-wrapper {

            overflow-x: scroll;
            overflow-y: scroll;
            max-height: 700px;

            table {

                border-collapse: collapse;
                width: 100%;

                thead {


                    tr {

                        th {

                            padding: 20px;
                            white-space: pre;
                            text-align: left;

                        }
                    }
                }

                tbody {

                    padding: 10px;

                    tr {

                        background-color: white;


                        td {

                            background-color: rgb(217, 217, 217);
                            padding: 20px;
                            white-space: nowrap;
                            text-align: left;

                        }

                        .opened, .closed, .returned {
                            font-weight: bold;
                        }

                        .opened {
                            color: #1cd20a;
                        }

                        .closed {
                            color: #f50505;
                        }

                        .returned {
                            color: #f64c05;
                        }

                        .delete-button, .edit-button {

                            min-width: 125px;
                            width: 125px;
                            padding: 5px 20px 5px 0;

                            a {

                                background-color: #c40a0a;
                                border-radius: 10px;
                                text-decoration: none;
                                color: white;
                                width: 100%;
                                display: flex;
                                height: 40px;
                                border: none;

                                svg {

                                    color: white;
                                    margin-left: 7.5px;
                                    margin-top: 7.5px;
                                    width: 25px;
                                    height: 25px;
                                }

                                span {

                                    color: white;
                                    margin-left: 10px;
                                    width: calc(100% - 32.5px);
                                    height: 40px;
                                    line-height: 42.5px;
                                    font-size: 14pt;
                                }
                            }
                        }

                        .edit-button {
                            a {
                                background-color: #d9a748;
                            }
                        }

                        .timestamp {
                            width: fit-content;
                        }
                    }

                    tr:nth-child(even) {
                        background-color: white;

                        td {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}
