@import '../resources/colors';
@import '../resources/font-sizes';

.race-calendar {

    min-height: 100vh;
    background-color: $background-color;

    .buttons-container {

        display: flex;
        flex-wrap: wrap;
        margin: 25px auto 0 auto;
        width: 400px;

        button {
            width: 50%;
        }

        h1 {
            font-size: 24px;
            background-color: #525050;
            text-align: center;
            color: #ffffff;
            width: 100%;
            padding: 10px 0;
        }
    }

    .calendar-seasons-container {

        margin: 25px auto 0 auto;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        fieldset {

            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin: 0 5px;
            border-top-right-radius: 25px;
            border-top: 2px solid white;
            border-right: 2px solid white;
            border-bottom: none;
            border-left: none;
            width: 300px;
            height: 350px;

            legend {

                color: #ffffff;
                padding: 10px;

            }

            .date {
                font-size: 24px;
                position: absolute;
                top: 0;
                left: 25px;
            }

            .month {
                position: absolute;
                top: 35px;
                left: 20px;

                p {
                    font-weight: bold;
                    padding: 0 7.5px;
                    border: 1px solid #ffffff;
                    background-color: #ffffff;
                    color: #424141FF;
                    border-radius: 20px;
                    font-stretch: expanded;
                }
            }

            .date, .month, .country, .format {
                height: fit-content;
                width: fit-content;
                color: #ffffff;
            }

            .country {
                position: absolute;
                top: 0;
                right: 20px;

                em {
                    font-style: normal;
                    font-weight: bold;
                }
            }

            .flag {

                position: absolute;
                top: 35px;
                right: 20px;

                img {
                    border: 1px solid grey;
                    border-radius: 7.5px;
                    width: 40px;
                    height: 25px;
                }
            }

            .track-map {

                position: absolute;
                bottom: 0;
                height: 150px;
                width: 300px;

                div {

                    margin: 0 auto;
                    height: 150px;
                    width: 200px;

                    img {
                        height: 150px;
                        width: 200px;
                    }
                }
            }

            .race-results-link-container {
                display: flex;
                justify-content: center;
                width: 260px;
                height: fit-content;
                position: absolute;
                top: 95px;
                right: 20px;
                border: none;

                a {
                    font-weight: bold;
                    text-decoration: none;
                    padding: 5px;
                    border-radius: 25px;
                    color: #424141FF;
                    width: 100px;
                    text-align: center;
                }

                a {
                    transition: 0.5s ease;
                    background-color: white;
                }

                a:hover {
                    transition: 0.1s ease;
                    background-color: #8f8f8f;
                    color: #ffffff;
                }
            }

            .divider-line {
                background-color: white;
                position: absolute;
                right: 20px;
                border: none;
                width: 260px;
                height: 2px;
                opacity: 50%;
            }

            .divider-line-1 {
                top: 80px;
            }

            .divider-line-2 {
                top: 145px;
            }
        }
    }
}
