.homepage {

    min-height: 100vh;
    background-color: #424141;

    main {

        div {

            margin: 25px auto 0 auto;
            min-width: 500px;
            width: 75%;

            img {

                width: 100%;

            }
        }
    }
}
