@import '../resources/colors';
@import '../resources/font-sizes';

.driver-show {

    min-height: 100vh;
    background-color: $background-color;

    .open-info-container {

        margin: 100px auto 0 auto;
        width: 350px;

        .personal-info, .career-details {

            margin: 0 auto;
            width: 300px;
            padding: 25px;
            background-color: #525050;

            h1 {

                color: $primary-color;
                text-align: center;

            }

            table {

                margin-top: 25px;
                width: 100%;

                tbody {

                    tr {

                        @import '../resources/team-colors';

                        padding: 10px 0;

                        th, td {

                            font-size: $text;
                            color: $primary-color;

                        }

                        th {

                            text-align: left;
                            font-weight: bold;

                        }

                        td {
                            text-align: right;
                        }
                    }
                }
            }
        }

        .career-details {

            margin-top: 25px;

        }
    }
}
