.private-show {

    main {

        min-height: 100vh;
        background-color: #d9d9d9;

        .show-container {

            border-radius: 15px;
            margin: 0 auto;
            width: 90%;
            max-width: 750px;
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;

            .table-header {

                position:relative;
                white-space: nowrap;
                overflow: hidden;
                border-radius: 15px 15px 0 0;
                padding: 10px;
                background-color: #111111;
                height: 50px;
                display: flex;

                h1 {
                    margin-left: 15px;
                    line-height: 50px;
                    color: white;
                    font-size: 18pt;
                    height: 50px;
                }
            }

            .show-content {

                padding: 0 25px 25px 25px;
                width: calc(100% - 50px);

                h1, p, ul {
                    width: 100%;
                    text-align: center;
                }

                h1 {
                    margin-top: 25px;
                    font-size: 24pt;
                }

                p {

                    font-size: 16pt;

                    a {

                        text-decoration: none;
                        color: #111111;
                        font-weight: bold;

                    }

                    a:hover {
                        color: #464646;
                    }
                }

                ul {
                    li {
                        list-style: none;
                        text-decoration: none;
                        font-size: 16pt;
                        text-align: center;
                    }
                }
            }
        }
    }
}
