.availability-show {

    main {

        .availability-container {

            border-radius: 15px;
            margin: 0 auto;
            width: 90%;
            max-width: 750px;
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;

            .table-header {

                position: relative;
                white-space: nowrap;
                overflow: hidden;
                border-radius: 15px 15px 0 0;
                padding: 10px;
                background-color: #111111;
                height: 50px;
                display: flex;

                h1 {
                    margin-left: 15px;
                    line-height: 50px;
                    color: white;
                    font-size: 18pt;
                    height: 50px;
                }
            }

            .table-wrapper {

                width: calc(100% - 50px);
                padding: 25px;

                table {

                    width: 100%;
                    border-collapse: collapse;

                    thead {

                        tr {

                            th {

                                padding: 10px 20px;
                                white-space: nowrap;
                                text-align: left;

                            }

                            .number {
                                font-weight: bold;
                                text-align: center;
                                width: 175px;
                            }

                            .timestamp {
                                width: 175px;
                                text-align: center;
                            }
                        }
                    }

                    tbody {

                        tr {

                            td {

                                padding: 15px 20px;
                                white-space: nowrap;
                                text-align: left;

                            }

                            .awaiting-response {
                                text-align: center;
                            }

                            .availability-button {

                                width: 150px;

                                a {

                                    border-radius: 5px;
                                    margin: 0;
                                    padding: 5px;
                                    color: white;
                                    text-decoration: none;
                                    white-space: pre;
                                    width: 140px;
                                    background-color: #14b704;
                                    height: 30px;
                                    line-height: 30px;
                                    display: block;
                                    text-align: center;

                                }
                            }

                            .number {
                                font-weight: bold;
                                text-align: center;
                                width: 175px;
                            }

                            .center {
                                text-align: center;
                            }

                            .accepted {
                                color: #1cd20a;
                            }

                            .declined {
                                color: #f50505;
                            }

                            .tentative {
                                color: #ff6b2b;
                            }

                            .no-response {
                                color: #d50bca;
                            }
                        }

                        tr:nth-child(even) {

                            background-color: white;

                        }

                        tr:nth-child(odd) {

                            background-color: #dedcdc;

                        }
                    }
                }
            }
        }
    }
}
