.race-create-edit-delete {

    main {

        min-height: 100vh;
        background-color: #d9d9d9;

        .race-create-container {

            border-radius: 15px;
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;
            margin: 25px auto 50px auto;
            width: 1000px;

            .table-header {

                position:relative;
                white-space: nowrap;
                border-radius: 15px 15px 0 0;
                padding: 10px;
                background-color: #111111;
                height: fit-content;
                display: block;

                h1 {

                    margin-left: 15px;
                    line-height: 50px;
                    color: white;
                    font-size: 18pt;
                    height: 50px;

                }
            }

            form {

                input[type=submit] {

                    margin-top: 50px;
                    color: white;
                    width: 100%;
                    white-space: nowrap;
                    border-radius: 0 0 15px 15px;
                    background-color: #111111;
                    display: block;
                    line-height: 50px;
                    font-size: 18pt;
                    height: 70px;

                }

                input[type=submit]:hover {
                    background-color: #3f3f3f;
                }

                .race-info-container {

                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 800px;
                    padding: 25px 100px;

                    label, input[type=number], .select-container {
                        text-align: center;
                    }

                    label {
                        font-size: 20px;
                        font-weight: bold;
                        color: #111111;
                        width: 175px;
                        padding-bottom: 10px;
                    }

                    input[type=number] {
                        width: 171px;
                        font-size: 24px;
                        height: 35px;
                        border: none;
                        border-top: solid 2px #111111;
                    }

                    .select-container {

                        height: 35px;
                        width: 175px;

                        select {

                            text-align: center;
                            height: 45px;
                            width: 175px;
                            border: none;
                            border-top: solid 2px #111111;
                            padding: 10px;
                            font-size: 16px;

                            option {

                                text-align: center;
                                height: 45px;
                                width: 175px;

                            }
                        }
                    }
                }

                .race-results-container {

                    margin: 25px auto 0 auto;
                    width: 600px;

                    .result-row {

                        margin-top: 5px;
                        width: 600px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        border: solid 2px #111111;

                        p {

                            color: #111111;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 35px;
                            text-align: center;
                            width: 50px;

                        }

                        .select-container {

                            height: 35px;
                            width: 250px;

                            select {

                                text-align: center;
                                height: 35px;
                                width: 250px;
                                border: none;

                                option {

                                    text-align: center;
                                    height: 35px;
                                    width: 250px;

                                }
                            }
                        }

                        input[type=checkbox] {

                            margin: 5px 5px 0 0;
                            width: 25px;
                            height: 25px;

                        }
                    }
                }

                .fastest-lap-container {

                    margin: 50px auto 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    width: 412px;
                    border: solid 2px #111111;

                    p {
                        width: 412px;
                        text-align: center;
                        color: #111111;
                        font-weight: bold;
                    }

                    table {

                        margin-top: 25px;
                        width: 412px;

                        thead {

                            tr {

                                th {
                                    color: #111111;
                                    text-align: center;
                                }
                            }
                        }

                        tbody {

                            tr {

                                td {

                                    .select-container {

                                        width: 150px;

                                        select {

                                            text-align: center;
                                            width: 150px;
                                            border: solid 2px #111111;

                                            option {

                                                text-align: center;
                                                width: 150px;

                                            }
                                        }
                                    }

                                    input[type=number] {
                                        width: 100px;
                                        border: solid 2px #111111;
                                    }
                                }
                            }
                        }
                    }
                }

                .race-buttons-container {

                    margin: 50px auto 0 auto;
                    width: 800px;
                    display: flex;
                    flex-wrap: nowrap;

                    p:nth-child(1) {
                        border-radius: 25px 0 0 25px;
                    }

                    p:nth-child(2) {
                        border-radius: 0 25px 25px 0;
                    }

                    p {
                        padding: 10px 0;
                        background-color: #111111;
                        color: #ffffff;
                        width: 500px;
                        text-align: center;
                    }

                    p:hover {
                        background-color: #3f3f3f;
                    }
                }

                .full-qualifying-results-container {

                    width: 950px;
                    color: #ffffff;
                    text-align: center;
                    margin: 25px auto 0 auto;

                    .full-qualifying-title {
                        color: #ffffff;
                        width: 950px;
                        text-align: center;
                        margin-bottom: 50px;
                    }

                    table {

                        width: 950px;

                        thead {

                            tr {

                                th {

                                    color: #ffffff;
                                    text-align: center;

                                }

                                th:nth-child(1), th:nth-child(2) {
                                    width: 150px;
                                }

                                th:nth-child(3), th:nth-child(6), th:nth-child(9) {
                                    width: 50px;
                                }

                                th:nth-child(4), th:nth-child(7), th:nth-child(10) {
                                    width: 75px;
                                }
                                th:nth-child(6), th:nth-child(8), th:nth-child(11) {
                                    width: 75px;
                                }
                            }
                        }

                        tbody {

                            tr {

                                td {

                                    color: #ffffff;
                                    text-align: center;

                                    .select-container {

                                        width: 150px;

                                        select {

                                            border: solid 2px #111111;
                                            text-align: center;
                                            width: 150px;

                                            option {

                                                text-align: center;
                                                width: 150px;

                                            }
                                        }
                                    }

                                    .qualifying-select-container {

                                        width: 50px;

                                        select {

                                            border: solid 2px #111111;
                                            text-align: center;
                                            width: 50px;

                                            option {

                                                text-align: center;
                                                width: 50px;

                                            }
                                        }
                                    }

                                    .tyre-select-container {

                                        select {

                                            border: solid 2px #111111;

                                        }
                                    }


                                    input[type=number] {
                                        width: 75px;
                                        border: solid 2px #111111;
                                    }
                                }
                            }
                        }
                    }

                }

                .short-qualifying-results-container {

                    margin: 25px auto 0 auto;
                    width: 750px;

                    .short-qualifying-title {
                        color: #ffffff;
                        width: 750px;
                        text-align: center;
                        margin-bottom: 50px;
                    }

                    table {

                        thead {

                            tr {

                                th {

                                    color: #ffffff;
                                    text-align: center;

                                }
                            }
                        }

                        tbody {

                            tr {


                                td {

                                    padding: 2.5px 0;
                                    color: #111111;
                                    text-align: center;

                                    .select-container {

                                        width: 150px;

                                        select {

                                            border: solid 2px #111111;
                                            text-align: center;
                                            width: 150px;

                                            option {

                                                text-align: center;
                                                width: 150px;

                                            }
                                        }
                                    }

                                    input[type=number] {
                                        border: solid 2px #111111;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
