* {
    font-family: 'Poppins', Calibri, serif;
    margin: 0;
    padding: 0;
}

.private-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1eded;
}

.main-container {
    flex: 1 0 auto;
    margin-left: 55px;
}

      //////////////
     //// Navs ////
    //////////////

@import 'scss/public/public-nav';
@import 'scss/private/private-nav';
@import 'scss/general/pagination-navigation';

      ///////////////////////
     //// Private Pages ////
    //////////////////////

@import 'scss/private/crud/private-index';
@import 'scss/private/crud/private-create-edit-delete';
@import 'scss/private/crud/private-show';

// Requests
@import 'scss/private/request/private-request-index';
@import 'scss/private/request/drivernumber-handle';

@import 'scss/private/availability/availability-show';

// Login
@import 'scss/auth/login';

// Register
@import 'scss/auth/register';

// Footer
@import 'scss/general/footer';

// Race pages
@import 'scss/private/race/race-index';
@import 'scss/private/race/race-create-edit-delete';
@import 'scss/private/race/race-show';

// User pages (admin)
@import 'scss/private/user/user-index';
@import 'scss/private/user/user-permissions';

// Profile
@import 'scss/auth/profile-show';
@import 'scss/auth/profile-edit';

      ////////////////////
     /// Public Pages ///
    ////////////////////

// Home page
@import 'scss/public/homepage';

// Roadmap page
@import 'scss/public/roadmap';

// Lineup pages
@import 'scss/public/lineup';

// Standings pages
@import 'scss/public/standings';

// Calendar pages
@import 'scss/public/calendar';

// Leaderboard pages
@import 'scss/public/leaderboard';

// Driver profile (show)
@import 'scss/public/open-driver-show';

// Team profile (show)
@import 'scss/public/open-team-show';

// Racer results (show)
@import 'scss/public/open-race-show';

// Open Track page (show)
@import 'scss/public/open-track';

// News page
@import 'scss/public/news';

// The Team page
@import 'scss/public/the-team';

      /////////////////////
     //// Error Pages ////
    /////////////////////

// 403 error
@import 'scss/errors/403-error';

      //////////////////////
     //// Driver Pages ////
    //////////////////////

@import 'scss/driver/driver-nav';
@import 'scss/driver/requests/driver-request-index';
@import 'scss/driver/requests/driver-request-show';
@import 'scss/driver/requests/driver-request-create';
@import 'scss/driver/requests/driver-request-edit';
@import 'scss/driver/requests/driver-request-delete';
@import 'scss/driver/requests/driver-show';
@import 'scss/driver/requests/request-confirm';

@import 'scss/driver/availability/driver-availability-index';
@import 'scss/driver/availability/driver-availability-edit';
