.article-create-edit-delete {

    main {

        .form-container {

            padding: 0 15px 15px 15px;
            width: 515px;
            margin: 75px auto 0 auto;

            form {

                label {
                    font-weight: bold;
                    color: #6c6c6a;
                    display: block;
                    margin-top: 25px;
                    margin-left: 25px;
                    width: 496px;
                }

                input[type=text] {
                    padding: 7.5px;
                    width: 498px;
                    border: 1px solid #6c6c6a;
                    border-radius: 15px;
                }

                textarea {
                    padding: 7.5px;
                    width: 498px;
                    height: 160px;
                    resize: none;
                    border: 1px solid #6c6c6a;
                    border-radius: 15px;
                }

                input[type=submit] {
                    padding: 7.5px;
                    width: 515px;
                    border: 1px solid #6c6c6a;
                    border-radius: 15px;
                    background-color: #ffffff;
                    font-weight: bold;
                    color: #6c6c6a;
                }

                input[type=submit]:hover {
                    background-color: #c5c2c2;
                    color: #6c6c6a;
                }
            }
        }
    }
}
