.user-permission {

    main {

        .user-permissions-page-container {

            border-radius: 15px;
            margin: 0 auto 50px auto;
            width: 90%;
            max-width: 1000px;
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;

            .table-header {

                position: relative;
                white-space: nowrap;
                border-radius: 15px 15px 0 0;
                padding: 10px;
                background-color: #111111;
                height: fit-content;
                display: block;

                h1 {

                    margin-left: 15px;
                    line-height: 50px;
                    color: white;
                    font-size: 18pt;
                    height: 50px;

                }
            }

            .user-permissions-form {

                width: 100%;

                form {

                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;

                    .perms-container, .roles-container {

                        margin-top: 25px;
                        width: 50%;

                        h1 {

                            display: block;
                            margin-left: 15px;
                            line-height: 50px;
                            color: #111111;
                            font-size: 18pt;
                            height: 50px;
                            text-align: center;
                        }

                        p {
                            margin-left: 30px;
                        }

                        ul {

                            margin-left: 30px;
                            list-style: none;

                            li {

                                .permission {

                                    margin: 0 auto;
                                    width: fit-content;
                                    padding: 5px;

                                    label {


                                    }

                                    input[type=checkbox] {


                                    }
                                }
                            }
                        }
                    }

                    input[type=submit] {
                        color: white;
                        font-size: 16pt;
                        height: 50px;
                        margin-top: 25px;
                        width: 100%;
                        border: none;
                        border-radius: 0 0 15px 15px;
                        background-color: #111111;
                    }

                    input[type=submit]:hover {
                        background-color: #4f4f4f;
                        transition: ease 0.2s;
                    }
                }
            }
        }
    }
}
