.user-index {

    min-height: 100vh;
    background-color: #424141FF;
    color: white;

    main {

        .user-table-container {

            margin: 100px auto 0 auto;
            width: fit-content;

            table {

                width: fit-content;
                border-collapse: collapse;

                thead {

                    tr {

                        th {


                        }
                    }
                }

                tbody {

                    tr {

                        border: 3px solid white;

                        td {

                            padding: 20px 10px;

                            a {

                                color: #424141FF;
                                font-weight: bold;
                                text-decoration: none;
                                padding: 7.5px 15px;
                                background-color: white;
                                border-radius: 10px;
                                filter: brightness(100%);

                            }

                            a {
                                filter: brightness(100%);
                                transition: 1s ease;
                            }

                            a:hover {

                                filter: brightness(50%);
                                transition: 0.2s ease;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}
