.mercedes {
    a {
        color: #70d4bc;
        text-decoration: none;
    }

    a:hover {
        color: #52a993;
        text-decoration: none;
    }
}

.redbull {
    a {
        color: #3671c6;
        text-decoration: none;
    }

    a:hover {
        color: #1e4f96;
        text-decoration: none;
    }
}

.ferrari {
    a {
        color: #f91536;
        text-decoration: none;
    }

    a:hover {
        color: #860718;
        text-decoration: none;
    }
}

.mclaren {
    a {
        color: #f58020;
        text-decoration: none;
    }

    a:hover {
        color: #bb5e14;
        text-decoration: none;
    }
}

.alpine {
    a {
        color: #2293d1;
        text-decoration: none;
    }

    a:hover {
        color: #1872a2;
        text-decoration: none;
    }
}

.alfaromeo {
    a {
        color: #d93855;
        text-decoration: none;
    }

    a:hover {
        color: #b0253d;
        text-decoration: none;
    }
}

.alphatauri {
    a {
        color: #5e8faa;
        text-decoration: none;
    }

    a:hover {
        color: #346983;
        text-decoration: none;
    }
}

.astonmartin {
    a {
        color: #0e8c73;
        text-decoration: none;
    }

    a:hover {
        color: #126953;
        text-decoration: none;
    }
}

.williamsracing {
    a {
        color: #37bedd;
        text-decoration: none;
    }

    a:hover {
        color: #2b99b2;
        text-decoration: none;
    }
}

.haas {
    a {
        color: #b6babd;
        text-decoration: none;
    }

    a:hover {
        color: #909193;
        text-decoration: none;
    }
}

.reserves {
    color: #efeded
}

.mercedes {
    color: #70d4bc;

}

.redbull {
    color: #3671c6;

}

.ferrari {
    color: #f91536;

}

.mclaren {
    color: #f58020;

}

.alpine {
    color: #2293d1;
}

.alfaromeo {
    color: #d93855;
}

.alphatauri {
    color: #5e8faa;
}

.astonmartin {
    color: #0e8c73;
}

.williamsracing {
    color: #37bedd;
}

.haas {
    color: #b6babd;
}
